251_DinhQuangTung/251_DinhQuangTung_Form/Connected Services/DinhQuangTung_251_Service/251_DinhQuangTung_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_251_DinhQuangTung" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_251_DinhQuangTung" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBenxe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Benxe" nillable="true" type="tns:Benxe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBenxe" nillable="true" type="tns:ArrayOfBenxe" />
  <xs:complexType name="Benxe">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="loaixe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soluong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tenxe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Benxe" nillable="true" type="tns:Benxe" />
</xs:schema>