251_DinhQuangTung/251_DinhQuangTung_Form/Connected Services/DinhQuangTung_251_Service/_251_DinhQuangTung_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="_251_DinhQuangTung_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51152/251_DinhQuangTung_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51152/251_DinhQuangTung_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51152/251_DinhQuangTung_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_251_DinhQuangTung" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="I251_DinhQuangTung_Service_getAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="I251_DinhQuangTung_Service_getAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="I251_DinhQuangTung_Service_search_InputMessage">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="I251_DinhQuangTung_Service_search_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="I251_DinhQuangTung_Service_create_InputMessage">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="I251_DinhQuangTung_Service_create_OutputMessage">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="I251_DinhQuangTung_Service_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="I251_DinhQuangTung_Service_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="I251_DinhQuangTung_Service_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="I251_DinhQuangTung_Service_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:portType name="I251_DinhQuangTung_Service">
    <wsdl:operation name="getAll">
      <wsdl:input wsaw:Action="http://tempuri.org/I251_DinhQuangTung_Service/getAll" message="tns:I251_DinhQuangTung_Service_getAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I251_DinhQuangTung_Service/getAllResponse" message="tns:I251_DinhQuangTung_Service_getAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input wsaw:Action="http://tempuri.org/I251_DinhQuangTung_Service/search" message="tns:I251_DinhQuangTung_Service_search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I251_DinhQuangTung_Service/searchResponse" message="tns:I251_DinhQuangTung_Service_search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/I251_DinhQuangTung_Service/create" message="tns:I251_DinhQuangTung_Service_create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I251_DinhQuangTung_Service/createResponse" message="tns:I251_DinhQuangTung_Service_create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/I251_DinhQuangTung_Service/update" message="tns:I251_DinhQuangTung_Service_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I251_DinhQuangTung_Service/updateResponse" message="tns:I251_DinhQuangTung_Service_update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/I251_DinhQuangTung_Service/delete" message="tns:I251_DinhQuangTung_Service_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I251_DinhQuangTung_Service/deleteResponse" message="tns:I251_DinhQuangTung_Service_delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_I251_DinhQuangTung_Service" type="tns:I251_DinhQuangTung_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://tempuri.org/I251_DinhQuangTung_Service/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="http://tempuri.org/I251_DinhQuangTung_Service/search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://tempuri.org/I251_DinhQuangTung_Service/create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/I251_DinhQuangTung_Service/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/I251_DinhQuangTung_Service/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_251_DinhQuangTung_Service">
    <wsdl:port name="BasicHttpBinding_I251_DinhQuangTung_Service" binding="tns:BasicHttpBinding_I251_DinhQuangTung_Service">
      <soap:address location="http://localhost:51152/251_DinhQuangTung_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>